.section6 {
    background-color: var(--secondary-text-color);
}

.section6sm {
    height: 600px;
    margin-top: 10rem;
}

.footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary-color);
    font-size: 1.6rem;
    padding: 0 2rem;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer ul li,
.footer .socials a {
    position: relative;
    width: fit-content;
    cursor: pointer;
}

.footer ul li::after,
.footer .socials a::after {
    position: absolute;
    content: "";
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 100%;
    background-color: var(--secondary-light-color);
    opacity: 0;
    transition: .3s ease-in-out;
}

.footer ul li:hover::after,
.footer .socials a:hover::after {
    transition: .3s ease-in-out;
    opacity: .3;
    right: -10px;
}

.footer-top {
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.footer-top-left p {
    color: rgb(211, 205, 205);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.3rem;
}

.footer-bottom {
    border-top: 1px solid rgba(211, 205, 205, 0.586);
    margin-top: 5rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .socials {
    display: flex;
    gap: 1.5rem;
    text-transform: uppercase;
}

.section6green {
    background-color: var(--primary-color);
}

.section6green .footer {
    color: black;
}

.section6green .footer-top-left p {
    color: black;
    font-weight: 800;
}

.section6green .footer-bottom {
    border-top: 1px solid rgba(66, 66, 66, 0.586);
}


@media (max-width:1200px) {
    .footer-top {
        width: 70%;
    }
}

@media (max-width:1024px) {
    .footer {
        padding: 5rem 2rem;
    }

    .section6sm {
        height: fit-content;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

@media (max-width:450px) {
    .footer a {
        font-size: 1.3rem;
    }

    .footer p {
        font-size: 1.4rem;
    }
}