@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #ccf381;
    --primary-light-color: #e7f7ca;
    --secondary-color: #4831d4;
    --secondary-light-color: #7361e9;
    --secondary-text-color: #3d155f;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

.home section {
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
}

::selection {
    background-color: rgba(111, 132, 230, .3);
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width:1024px) {
    .home section {
        height: auto;
    }
}